<%= javascript_bundle_tag 'js/entrypoints/nankan/raceDetail' %>

<h1><%= @race.number %>R <%= @race.name %></h1>
<h2><%= @race.hold_at %> <%= @race.description %></h2>
<h3> 発走時刻 <%= (@race.start_at + 9.hours).strftime('%H:%M') %></h3>

<div id="main-container"></div>
