<!DOCTYPE html>
<html>
  <head>
    <title>OddsDetector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag 'css/application', media: 'all' %>
    <%= javascript_bundle_tag 'js/application', defer: false %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'shared/sidebar' %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" class="mt-4">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
