<!DOCTYPE html>
<html>
  <head>
    <title>NankanOddsDetector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag 'css/application', media: 'all' %>
    <%= javascript_bundle_tag 'js/application', defer: false %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
